<!DOCTYPE html>
<html>
<head>
    <title>Flask Games</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>
    <div class="container" style="text-align: center;">
        <a href="https://github.com/matheper/flask_games">
            <img src="static/images/GitHub-Mark-32px.png"/>
        </a>
        <h1>Welcome to Flask Games!</h1>
        <a href="/grazer">
            <h3>Grazer</h3>
        </a>
        <a href="/minesweeper">
            <h3>Minesweeper</h3>
        </a>
    <div>
</body>
</html>
